.social {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

    .icons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        padding: 20px 0;
        &:hover .pictures {
            animation: jump 0.8s infinite ease-out ;
        }
        
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(0);
    }
}