@import "/src/styles/variables.scss";

.my-button{
    border-radius: 2rem;
    width: 250px;
    padding: 14px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
}


.btn-dark {
    background-color: $color-dark;
    &:hover {
        background-color: darken($color-light, 10) ;
        & .btn-text{
            color: $color-dark;
        }
    }
}

.btn-light {
    background-color: $color-secondary;
    &:hover {
        background-color: lighten($color-dark,10);
    }

}

.btn-sm {
    width: 150px;
    padding: 10px;
    
}