@import "/src/styles/variables.scss";

form {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;

}
input, textarea{
    padding: 5px;
    width: 100%;
}

textarea {
    resize: none;
}


.name {
    display: flex;
    gap: 10px;
}
.error {
    color: rgb(194, 49, 49);
    height: 20px;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: $color-secondary;
    font-size: 18px;
    color: $text-light;
    transition: all ease-in-out 0.3s;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)

}

button:hover{
    background-color: lighten($color: $color-dark, $amount: 10);

}

}

@media (max-width : 768px) {
    form {
        width: 100%;
    }
    
}