@import "/src/styles/variables.scss";

.hero {
  background-color: $color-light;

  .container {
    position: relative;
    height: 100vh;
    padding: 0 30px;
    overflow-x: hidden;

    .title {
      position: relative;
      z-index: 10;
      // top: 180px;
      // top:20%;
      margin-top: 180px;
      animation: title 0.8s ease-in-out both 1s;

      .name {
        margin-bottom: 80px;
      }

      .job {
        margin-bottom: 120px;
      }
    }

    .circle {
      position: absolute;
      // top: 200px;
      top:20%;
      right: 40px;
      height: 600px;
      width: 600px;
      border-radius: 100%;
      background-color: $color-secondary;
      animation: circle ease-in-out 2s both;
    }
  }
}

.cta{
  position: relative;

  &-border{
    width: 300px;
    padding: 4px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

  }
  &-effect {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle at center right, $color-secondary,$color-dark);
    border-radius: 100%;
    animation: cta ease-in-out 4s infinite;
  }
  &-btn {
    position: relative;
    width: 100% !important;
  }
}


@keyframes circle {
  from {
    transform: translate(-400px) scale(0);
  }

  50% {
    transform: translate(-400px) scale(1);
  }

  to {
    transform: translate(0) scale(1);
  }
}

@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cta {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width : 768px) {
  .hero .container .circle{
    width: 400px;
    height: 400px;
    left: 50%;
  }

 .cta {
  margin: auto;
  display: flex;
  justify-content: center;
}
}