@import "/src/styles/variables.scss";

.text-xl {
  font-size: 96px;
  font-weight: 900;
  letter-spacing: 35px;
  line-height: 150px;
}

.text-lg {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
}

.text-md {
  font-size: 18px;
}

.text-sm {
  font-size: 16px;
}

.text-caption {
  font-size: 14px;
}

.light-color {
  color: $text-light;
}

.dark-color {
  color: $text-dark;
}

.grey-color {
  color: $text-grey;
}

@media (max-width : 1440px) {
  .text-xl {
    font-size: 72px;
  }

  .text-lg {
    font-size: 30px;
  }
}



@media (max-width: 1280px) {
  .text-xl {
    font-size: 50px;
    letter-spacing: 20px;
    line-height: 100px;
  }
  .text-lg {
    font-size: 30px;
  }
}



@media (max-width: 768px) {
  .text-xl {
    font-size: 40px;
    letter-spacing: 20px;
  }
  .text-lg {
    font-size: 20px;
  }
}


@media (max-width: 600px) {
    .text-xl {
      font-size: 24px;
      letter-spacing: 10px;
    }
    .text-lg {
      font-size: 12px;
    }
  }
