@import "/src/styles/variables.scss";

header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 20;
    transition: all 800ms;
}

.dark-theme {
    background-color: $color-dark;
    opacity: 95%;
}

.mobile-nav {
    display: none;
}

@media (max-width :1440px) {
    header {
        height: 60px;
    }
    
}

@media (max-width : 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    header {
        justify-content: flex-start;
        background-color: $color-dark;
        opacity: 95%;
        height: 50px;
    }
}