@import "/src/styles/variables.scss";

footer {
  background-color: $color-dark;
  padding: 50px 0;
  .contact {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .title {
    padding: 50px 0;
    text-align: center;
  }

  .portfolio {
    max-width: 600px;
    margin: 50px 0;
    
  }

  .portfolio-btn {
    background-color: $color-secondary;
    margin: 50px auto;
  }

  // .portfolio-btn:hover {
  //   background-color: darken($color: $color-secondary, $amount: 10);
  // }
}

@media (max-width : 1200px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
}