@import "/src/styles/variables.scss";
.project-preview {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.8s;
}
.slider {
  width: 400px;
  .navigation {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }

  .capture {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: white;
    img {
      position: absolute;
      top: 0;
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: auto;
    }
  }
  .next,
  .prev {
    cursor: pointer;
  }

  .inactive {
    opacity: 50%;
    cursor: default;
  }
}

.project-visible {
  opacity: 1;
}

@media (max-width: 768px) {
  .slider {
    width: 300px;
  }

  .slider .capture {
    width: 300px;
    height: 320px;
  }
}

@media (max-width: 1200px) {
  .project-preview {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

}
